*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

.image-section{
    background:linear-gradient(to right, rgba(36, 34, 34, 0), rgb(15, 121, 177)), url(https://th.bing.com/th/id/OIP.K4KMhyA2oE8rgVlOCAJhagHaE8?pid=ImgDet&rs=1);
}